<footer>
  <small>
  <ul class="company">
    <li>© SomosAzucar-Arbio - Algunos derechos reservados.</li>
  </ul>

  <ul class="footer-nav">
    <li><i class="fa fa-envelope" aria-hidden="true"></i>
    <a href="mailto:equipo@somosazucar.org">Contacto</a></li>

    <li><i class="fa fa-heart" aria-hidden="true"></i>
    <a href="{{ url_for('public.page', path='creditos') }}">Créditos</a></li>

    <li><i class="fa fa-book" aria-hidden="true"></i>
    <a href="{{ url_for('public.page', path='api') }}">API</a></li>

    <li><i class="fa fa-pencil" aria-hidden="true"></i>
    <a href="{{ url_for('public.page', path='contenidos') }}">Contenidos</a></li>

    <li><i class="fa fa-github-alt" aria-hidden="true"></i>
    <a href="https://github.com/icarito/arbio-azucar-adoptarbol">Fuentes</a></li>
  </ul>
  </small>
</footer>
