<footer>
  <small>
  <ul class="company">
    <li>© SomosAzucar-Arbio</li>
  </ul>

    <ul class="footer-nav">
      <li><i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:equipo@somosazucar.org">Contacto</a></li>

      <li><i class="fa fa-book" aria-hidden="true"></i>
      <a href="{{ url_for('public.page', path='api') }}">API</a></li>

      <li><i class="fa fa-file-text" aria-hidden="true"></i>
      <a href="https://github.com/icarito/arbio-azucar-adoptarbol/tree/master/adoptarbol/pages">Contenidos</a></li>

      <li><i class="fa fa-github-alt" aria-hidden="true"></i>
      <a href="https://github.com/icarito/arbio-azucar-adoptarbol">Fuentes</a></li>
    </ul>
  </small>
</footer>
