
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}">

      Adopta un Árbol Amazónico

    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!--<li><a href="{{ url_for('public.home') }}">Home</a></li>-->
      <li><a href="{{ url_for('public.page', path='acercade') }}">Sobre Nosotros</a></li>
      <li><a href="{{ url_for('public.pick') }}">Buscar</a></li>
      <li><a href="{{ url_for('public.adopt') }}">Adopta ahora</a></li>
      <li><a href="{{ url_for('public.page', path='concesionarios') }}">¿Tienes un bosque?</a></li>
    </ul>
    {{ current_user , current_user.is_authenticated }}
    {% if current_user and current_user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text"><a class="navbar-link" href="{{ url_for('user.members') }}">Bienvenido(a) {{ current_user.username }}</a></p>
        </li>
        <li><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i></a></li>

    </ul>
    {% elif loginform %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('public.register') }}">Registrarse</a></li>
    </ul>
    <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/home" role="login">
      <!--input type="hidden" name="csrf_token" value="{ { csrf_token() } }"/-->
      <div class="form-group">
        {{ loginform.username(placeholder="Username", class_="form-control") }}
        {{ loginform.password(placeholder="Password", class_="form-control") }}
      </div>
      <button type="submit" class="btn btn-default">Log in</button>
    </form>
    {% endif %}
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

