
{% extends "layout.html" %}
{% block content %}
    <h1>Bienvenido {{ current_user.full_name }}</h1>
    <h2>Cargar árboles</h2>
    <br>
    <form method=post enctype=multipart/form-data>
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
       <input class="c-button c-button--success" type=file name=file value="Examinar">
       <button class="c-button c-button--success" type=submit value=Upload>
       <i class="fa fa-send fa-2x" aria-hidden="true"></i>
           Cargar archivo CSV
       </button>
    </form>
    <br>
    <a class="c-button c-button--success" href="/admin">
        <i class="fa fa-gear fa-2x" aria-hidden="true"></i>
        Gestionar Árboles y Adopciones
    </a>
{% endblock %}

