{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="well well-sm row">
    <h3 class="text-center">Adopta &nbsp; <span class="label label-large label-warning"> PASO 2 </span> &nbsp; Conózcanse profundamente.</h3>
  </div><!-- /.well -->
  <div class="row">

  {% include "public/selector.html" %}

  <div class="well well-sm col-lg-5 text-center">
    <form id="adoptForm" method="POST" class="form form-inline" action="/confirm/">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="tree_id" value="{{ tree.id }}"/>
      <div class="form-group">
        {{ form.name(placeholder="Nombre", class_="form-control") }}
        {{ form.email(placeholder="Email", class_="form-control") }}
      </div>
      <br>
      <div class="form-group">
        {{ form.gift(class_="form-control") }} {{form.gift.label}}
      </div>
      <br>

      <div class="form-group">
        <ul class="nav nav-pills text-center">
          <li class="active"><a data-toggle="pill" href="#paypal"><i class="fa fa-cc-paypal large" aria-hidden="true"></i><br><br>Tarjetas<br>de<br>crédito</a></li>
          <li><a data-toggle="pill" href="#bitcoin"><i class="fa fa-bitcoin large" aria-hidden="true"></i><br><br>BitCoin<br>criptomoneda<br>digital</a></li>
          <li><a data-toggle="pill" href="#faircoin"><img src="/static/images/logos/faircoin.png" height="72"><br><br>FairCoin<br>criptomoneda<br>justa</a></li>
        </ul>
        <div class="tab-content">
          <div id="paypal" class="tab-pane fade in active">
            <br>
            <button type="submit" name="paypal" class="btn btn-default">Pagar con Paypal ®</button>
          </div>
          <div id="bitcoin" class="tab-pane fade">
            <br>
            <p>En desarrollo.</p>
          </div>
          <div id="faircoin" class="tab-pane fade">
            <br>
            <p>En desarrollo.</p>
          </div>
        </div>
      </div>

    </form>
  </div><!-- /.well -->

  </div><!-- /.row -->
</div>
{% endblock %}
