{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="well well-sm row">
    <h3 class="text-center">Adopta &nbsp; <span class="label label-large label-warning"> PASO 2 </span> &nbsp; Conózcanse profundamente.</h3>
  </div><!-- /.well -->
  <div class="row">

  {% include "public/selector.html" %}

  <div class="well well-sm col-lg-5 text-center">
    <form id="adoptForm" method="POST" class="form form-inline" action="/pay/">
      <!--input type="hidden" name="csrf_token" value="{ { csrf_token() } }"/-->
      <!--input type="hidden" name="opcode" value="{ {  csrf_token()|truncate(12, False, "") } }"/-->
      <input type="hidden" name="tree_id" value="{{ tree.id }}"/>
      <input type="hidden" name="tree_code" value="{{ tree.code }}"/>
      <div class="form-group">
        {{ form.name(placeholder="Nombre", class_="form-control") }}
        {{ form.email(placeholder="Email", class_="form-control") }}
      </div>
      <br>
      <div class="form-group">
        {{ form.gift(class_="form-control") }} {{form.gift.label}}
      </div>
      <br>

      <div class="form-group">
        <ul class="nav nav-pills text-center">
          <li class="active"><a data-toggle="pill" href="#pp_tab"><i class="fa fa-cc-paypal large" aria-hidden="true"></i><br><br>Tarjetas<br>de<br>crédito</a></li>
          <li><a data-toggle="pill" href="#bitcoin"><i class="fa fa-bitcoin large" aria-hidden="true"></i><br><br>BitCoin<br>criptomoneda<br>digital</a></li>
          <li><a data-toggle="pill" href="#faircoin"><img src="/static/images/logos/faircoin.png" height="72"><br><br>FairCoin<br>criptomoneda<br>justa</a></li>
        </ul>

        <div class="tab-content">
          <div id="pp_tab" class="tab-pane fade in active">
            <br>
            <button type="submit" name="pp_submit" class="btn btn-warning waiter" value="true">Pagar con Paypal ®</button>
          </div>
          <div id="bitcoin" class="tab-pane fade">
            <br>
            <p>Cuenta de Bitcoin: <code>19H69CfDCdYfFPeL1RxxfpMsBWG4PJaGfi</code></p>
            <p>Por favor <a href="mailto:equipo@somosazucar.org">avísanos.</a></p>
          </div>
          <div id="faircoin" class="tab-pane fade">
            <br>
            <p>Cuenta de Faircoin: <code>fLNB9MbS9cgnCku4FKhYnXxcSgyGL5xUmu</code></p>
            <p>Por favor <a href="mailto:equipo@somosazucar.org">avísanos.</a></p>
          </div>
        </div>
      </div>

    </form>
  </div><!-- /.well -->

  </div><!-- /.row -->
</div>

          <form id="pp_form" action="{{form.pp_target}}" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="{{form.pp_button_id}}">
          <input type="hidden" name="item_name" value="Adoptar un árbol {{tree.common_name}}">
          <input type="hidden" name="item_number" value="{{tree.id}}">
          <input type="hidden" name="on0" value="Codigo árbol : {{tree.code}}">
          <input type="hidden" name="custom" value="{{form.opcode}}">
          </form>

<script>
window.onload = function () {
    $('.link').tooltip();
    $('button[type=submit]').click( function(e) {
        e.preventDefault();
        var post = $(this).attr("name") + "=" + $(this).val();
        var data = $(this.form).serialize() + "&" + post;
        $.post('/pay/', data);
        $('#pp_form').submit();
        });
    $('.waiter').show();
};
</script>
{% endblock %}
