
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2 class="text-justify large">{{banner_a|safe}}</h2>
</div><!-- /.jumbotron -->

<div class="well well-sm">
  <h4 class="text-center">Adopta árboles nativos amazónicos certificados por &nbsp;<span class="label label-large label-success">ARBIO</label></h4>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-condensed"><tbody>
      <tr>
        <td class="text-right"><h2>Árboles matriculados:</h2>
        <td class="text-right"><h2>{{total}}</h2>
      </tr><tr>
        <td class="text-right"><h2>Árboles adoptados:</h2>
        <td class="text-right"><h2>0</h2>
      </tr>
      <tr><td class="text-right" colspan="2">
      <a href="{{url_for('tree.adopt', id=tree.id)}}" class="btn btn-warning large">¡Ayúdanos a llegar a 20!</a>
      </td></tr>
      </tbody></table>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center panel panel-default control-group">
    <br>
      <h3>¡Un árbol nativo <br> es para tí!</h3>
      <h3><a href="paso1" class="btn btn-warning"><i class="fa fa-binoculars"></i>&nbsp; Buscar &raquo;</a></h3>
    <br>
    </div>
  </div><!-- /.row -->
</div>

<div class="jumbotron text-center">
  <h2><a href="{{url_for('public.page', path='concesionarios')}}">¿Tienes una concesión?</a><h2>
  <h3> 1. Inscribe tu concesión &raquo; &nbsp;
       2. Mapea tus árboles nativos &raquo; &nbsp;
       3. Certifícate</h3>
</div><!-- /.jumbotron -->

<div id="treeselector" style="hidden:true">&nbsp;</div>

<div class="body-content">
  <div class="row">
    <div class="col-lg-7">
    <img class="img-responsive" src="{{image.src}}">
    </div>
    <div class="col-lg-5 text-center panel panel-default">
    <br>
    <br>
      <h3>Nombre común: <strong>{{tree.common_name}}</strong></h3>
      <h3>Nombre científico: <em>{{tree.scientific_name}}</em></h3>
      <h3>Diámetro: {{tree.diameter}} cm</h3>
      <h3>Altura: {{tree.height}} m</h3>
      <h3>Más sobre mí:</h3>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
      <h2>Código: # {{tree.code}}</h2>
      <p>
      <br>
      <a href="{{url_for('public.home', tree_id=before_it, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i></a>
      <a href="{{url_for('tree.adopt', id=tree.id)}}" class="btn btn-warning"><i class="fa fa-heart"></i>&nbsp; Adóptalo ahora</a>
      <a href="{{url_for('public.home', tree_id=after_it, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-right"></i></a>
      </p>
    <br>
    <br>
    </div>
    <div class="col-lg-5 text-center panel panel-default control-group">
      <h3><small>Sabías que...</small>
      <br><br>
      {{banner_b}}</h3>
      <br><br>
    </div>
  </div><!-- /.row -->
</div>
<br>
<div class="jumbotron text-center">
  <h2>¿Porqué adoptar un árbol nativo amazónico?<h2>
  <h3>Nuestros árboles nativos amazónicos están en amenaza constante 
por el valor de su madera...</h3>
</div><!-- /.jumbotron -->

<div class="panel panel-default" style="overflow:hidden" align="center">
  <p>Con el apoyo de:</p>
  <br>
  <div class="col-lg-4">
    <a href="http://www.minam.gob.pe/">
    <img class="img-responsive" src="/static/images/logos/ministerio-del-ambiente.jpg"></a>
  </div>
  <div class="col-lg-4">
    <a href="http://www.spda.org.pe/">
    <img class="img-responsive" src="/static/images/logos/spda.jpg"></a>
    <br>
  </div>
  <div class="col-lg-4">
    <a href="http://www.ue.edu.pe/">
    <img class="img-responsive" src="/static/images/logos/esan.jpg"></a>
  </div>
</div><!-- /.jumbotron -->

<div class="panel panel-default" style="overflow:hidden;" align="center">
  <p>Una iniciativa de:</p>
  <br>
  <div class="col-lg-3 vbottom">
    <a href="http://arbioperu.org/"><img class="img-responsive" src="/static/images/logos/arbio.jpg"></a>
    <p>Asociación para la Resiliencia del Bosque frente a la Inter-Oceánica</p>
  </div><!--
--><div class="col-lg-5 vbottom">
    <a href="http://somosazucar.org/"><img class="img-responsive" src="/static/images/logos/somosazucar.png"></a>
    <br>
    <p>Tecnología Libre para la Educación Pública</p>
    <br>
  </div>
</div><!-- /.panel -->
{% endblock %}

