
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="well">
  <h2 class="text-right">{{banner.a|safe}}</h2>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-condensed"><tbody>
      <tr>
        <td class="text-right"><h2>Árboles matriculados:</h2>
        <td class="text-right"><h2>{{total}}</h2>
      </tr><tr>
        <td class="text-right"><h2>Árboles adoptados:</h2>
        <td class="text-right"><h2>0</h2>
      </tr>
      <tr><td class="text-right" colspan="2"><br>
      <a href="{{url_for('tree.adopt', id=tree.id)}}" class="btn btn-warning lead">¡Ayúdanos a llegar a 20!</a>
      </td></tr>
      </tbody></table>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center panel panel-default control-group">
    <br>
      <h3>¡Un árbol nativo <br> es para tí!</h3>
      <h3><a href="paso1" class="btn btn-warning"><i class="fa fa-binoculars"></i>&nbsp; Buscar &raquo;</a></h3>
    <br>
    </div>
  </div><!-- /.row -->
</div>

<div class="well well-sm">
  <h4 class="text-center">Adopta árboles nativos amazónicos certificados por &nbsp;<span class="label label-large label-success">ARBIO</label></h4>
</div><!-- /.jumbotron -->

<div id="treeselector" style="hidden:true">&nbsp;</div>

<div class="body-content">
  <div class="row">
    <div class="col-lg-7">
    <img class="img-responsive" src="{{image.src}}">
    </div>
    <div class="col-lg-5 text-center panel panel-default">
    <br>
    <br>
      <h3>Nombre común: <strong>{{tree.common_name}}</strong></h3>
      <h3>Nombre científico: <em>{{tree.scientific_name}}</em></h3>
      <h3>Diámetro: {{tree.diameter}} cm</h3>
      <h3>Altura: {{tree.height}} m</h3>
      <h3>Más sobre mí:</h3><br>
      <p class="lead"><small>{{banner.b}}</small></p><br>
      <h2>Código: # {{tree.code}}</h2>
      <p>
      <br>
      <a href="{{url_for('public.home', tree_id=nav.before, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i></a>
      <a href="{{url_for('tree.adopt', id=tree.id)}}" class="btn btn-warning"><i class="fa fa-heart"></i>&nbsp; Adóptalo ahora</a>
      <a href="{{url_for('public.home', tree_id=nav.after, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-right"></i></a>
      </p>
    <br>
    </div>
    <div class="col-lg-5 text-center panel panel-default control-group">
      <h3><small>Sabías que...</small>
      <br><br>
      {{banner.c}}</h3>
      <br><br>
    </div>
  </div><!-- /.row -->
</div>
<br>

<div class="jumbotron text-center">
  <h2>¿Porqué adoptar un árbol nativo amazónico?<h2>
  <h3>{{banner.d}}</h3>
</div><!-- /.jumbotron -->

<div class="jumbotron text-center">
  <h2><a href="{{url_for('public.page', path='concesionarios')}}">¿Tienes un bosque?</a><h2>
  <h3> 1. Inscribe tu bosque &raquo; &nbsp;
       2. Mapea tus árboles nativos &raquo; &nbsp;
       3. Certifícate</h3>
</div><!-- /.jumbotron -->

<div class="panel panel-default" style="overflow:hidden" align="center">
  <p>Con el apoyo de:</p>
  <div class="col-lg-4">
    <a href="http://www.minam.gob.pe/">
    <img class="img-responsive" src="/static/images/logos/ministerio-del-ambiente.jpg"></a>
  </div>
  <div class="col-lg-4">
    <br>
    <a href="http://www.spda.org.pe/">
    <img class="img-responsive" src="/static/images/logos/spda.jpg"></a>
    <br>
  </div>
  <div class="col-lg-4">
    <a href="http://www.ue.edu.pe/">
    <img class="img-responsive" src="/static/images/logos/esan.jpg"></a>
  </div>
</div><!-- /.jumbotron -->

<div class="panel panel-default" style="overflow:hidden;" align="center">
  <p>Una iniciativa de:</p>
  <br>
  <div class="col-lg-3 vbottom">
    <a href="http://arbioperu.org/"><img class="img-responsive" src="/static/images/logos/arbio.jpg"></a>
    <p>Asociación para la Resiliencia del Bosque frente a la Inter-Oceánica</p>
  </div><!--
--><div class="col-lg-5 vbottom">
    <a href="http://somosazucar.org/"><img class="img-responsive" src="/static/images/logos/somosazucar.png"></a>
    <br>
    <p>Tecnología Libre para la Educación Pública</p>
    <br>
  </div>
</div><!-- /.panel -->
{% endblock %}

