
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2 class="text-justify">"Las plantas y árboles amazónicos juegan un papel 
    crítico en la regulación del cambio climático" <small>- WWF</small></h2>
</div><!-- /.jumbotron -->

<div class="jumbotron">
  <h3 class="text-center">Adopta árboles nativos amazónicos certificados por &nbsp;<span class="label label-large label-success">ARBIO</label></h3>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-condensed"><tbody>
      <tr>
        <td class="text-right"><h2>Árboles matriculados:</h2>
        <td class="text-right"><h2>550</h2>
      </tr><tr>
        <td class="text-right"><h2>Árboles adoptados:</h2>
        <td class="text-right"><h2>0</h2>
      </tr>
      <tr><td class="text-right" colspan="2">
      <a href="paso2" class="btn btn-warning large">¡Ayúdanos a llegar a 20!</a>
      </td></tr>
      </tbody></table>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center panel panel-default control-group">
    <br>
      <h3>¡Un árbol nativo <br> es para tí!</h3>
      <h3><a href="paso1" class="btn btn-warning"><i class="fa fa-binoculars"></i>&nbsp; Buscar &raquo;</a></h3>
    <br>
    </div>
  </div><!-- /.row -->
</div>

<div class="jumbotron text-center">
  <h2><a href="/contacto">¿Tienes una concesión?</a><h2>
  <h3> 1. Inscribe tu concesión &raquo; &nbsp;
       2. Mapea tus árboles nativos &raquo; &nbsp;
       3. Certifícate</h3>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-7">
    <img class="img-responsive" src="/static/images/Catahua Hura crepitans.jpg">
    </div>
    <div class="col-lg-5 text-center panel panel-default">
    <br>
      <h3>Nombre común: <strong>Catahua</strong></h3>
      <h3>Nombre científico: <em>Hura crepitans</em></h3>
      <h3>Diámetro: 70 cm</h3>
      <h3>Altura: 20 m</h3>
      <h3>Más sobre mí:</h3>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
    <br>
    </div>
    <div class="col-lg-5 text-center panel panel-default control-group">
    <br>
      <h3>¡Un árbol puede darte tanto amor <br> como cualquier mascota!</h3>
      <p>
      <a href="#" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i></a>
      <a href="paso2" class="btn btn-warning"><i class="fa fa-heart"></i>&nbsp; Adóptalo ahora</a>
      <a href="#" class="btn btn-warning"><i class="fa fa-arrow-circle-right"></i></a>
      </p>
    <br>
    </div>
  </div><!-- /.row -->
</div>
<br>
<div class="jumbotron text-center">
  <h2>¿Porqué adoptar un árbol nativo amazónico?<h2>
  <h3>Nuestros árboles nativos amazónicos están en amenaza constante 
por el valor de su madera...</h3>
</div><!-- /.jumbotron -->

<div class="jumbotron text-center">
  <h3>Con el apoyo de: ESAN - Ministerio del Ambiente - SPDA</h3>
</div><!-- /.jumbotron -->
{% endblock %}

