{% extends "layout_with_leaflet.html" %}

{% block content %}

<style>
    #mapid { height: 500px; }
</style>

<div class="body-content">
  <div class="well well-sm row">
  <center>
    <h3 class="text-center">Adopta &nbsp; <span class="label label-large label-warning">PASO 1 </span> &nbsp; Selecciona a tu compañero ideal.</h3>
  </div><!-- /.well -->

  <div class="col-lg-2">
  </div>
  <div class="well well-lg col-lg-8">
    <div id="mapid"></div>
  </div><!-- /.well -->

  </center>
</div>

<script>  
          
window.onload = function () {


    var mymap = L.map('mapid').setView([-12.1716094, -69.3869664], 18);

    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
        attribution: 'Árboles censados por Arbio - Imagen © Google',
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(mymap);

//    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
//                attribution: 'Imagery © <a href="http://mapbox.com">Mapbox</a>',
//                maxZoom: 22,
//               id: 'mapbox.satellite',
//                accessToken: 'pk.eyJ1IjoiaWNhcml0byIsImEiOiJjaW9zbTgxZ3MwMDk0dWZtNDFtNG84eGJzIn0.A-5TdlE4Ep-jXw_eIihJMA'
//            }).addTo(mymap);

    {% for tree in trees %}

    var circle = L.circle([{{tree.coord_lat}}, {{tree.coord_lon}}], 5, {
        color: 'green',
        fillColor: 'yellow',
        fillOpacity: 0.5})
    .addTo(mymap)
    .bindPopup('Yo soy un <b>{{tree.common_name}}<b>.', {offset:[0, -5]})
    .on('mouseover', function (e) {
            this.openPopup();
        })
    .on('mouseout', function (e) {
            this.closePopup();
        })
    .on('click',
        function(e) {
            location.href = '/adopt/{{tree.id}}';
        }
    );
    {% endfor %}

}

</script>

{% endblock %}
