    <div class="col-lg-7">
    <img class="img-responsive" src="{{image.src}}">
    <br>
      {% if terminos %}
      <div class="well well-large">
          <h2 class="text-center">Términos de Adopción</h2>
          <div class="text-justify lead">{{terminos.html|safe}}</div>
      </div><!-- ./well -->
      {% endif %}
    </div><!--
 --><div class="col-lg-5 text-center panel panel-default">
    <br>
    <br>
      <h3>Nombre común: <strong>{{tree.common_name}}</strong></h3>
      <h3>Nombre científico: <em>{{tree.scientific_name}}</em></h3>
      <h3>Diámetro: {{tree.diameter}} cm</h3>
      <h3>Altura: {{tree.height}} m</h3>
      <h3>Más sobre mí:</h3><br>
      <p class="lead"><small>{{tree.comments}}</small></p><br>
      {% for function in functions %}
        &nbsp;&nbsp;&nbsp;<img alt="{{function.desc}}" src="/static/images/icons/{{function.icon}}" width=48>&nbsp;&nbsp;&nbsp;
      {% endfor %}
      <br>

      <h2>Código: # {{tree.code}}</h2>
      {% if not nav %}

      <h2>Aporte: <span class="label label-large label-success">{{"%.2f"|format(tree.cost)}} {{tree.currency}}</span></h2>
      {% endif %}
      <p>
      <br>
      {% if nav %}
      <a href="{{url_for('public.home', tree_id=nav.before, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i></a>
      <a href="{{url_for('public.adopt', tree_id=tree.id)}}" class="btn btn-warning"><i class="fa fa-heart"></i>&nbsp; Adóptalo ahora</a>
      <a href="{{url_for('public.home', tree_id=nav.after, _anchor="treeselector")}}" class="btn btn-warning"><i class="fa fa-arrow-circle-right"></i></a>
      </p>
      {% endif %}

    <br>
    </div>
